<!DOCTYPE html>
<html lang="en">
<head>
  <!--  jquery/ajax CDN  -->
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<!--  font-awesome CDN  -->
  <script src="https://use.fontawesome.com/ea50665efc.js"></script>

<!--  CSS stylesheets  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/application.css">

<!--  js files  -->
  <script src="/js/application.js"></script>

  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
  <div id="header-div">
    <!-- <h2>Hi  interpolate name here </h2>
    <h2>how was your</h2> -->
    <h1>Family Friday</h1>
  </div>
</body>
