<!DOCTYPE html>
<html lang="en">
<head>

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="https://use.fontawesome.com/ea50665efc.js"></script>
  <!-- <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/styles.css">

  <link rel="stylesheet" href="/css/application.css"> -->

</head>
<body>
  <div id="header-div">
    <!-- interpolate name here -->
    <!-- <h2>how was your</h2> -->
    <h1>Family Friday</h1>
  </div>
</body>
